
/* ==============================
              Fonts
================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@font-face {
    font-family: 'Proxima Nova Rg';
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/Century\ Gothic.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHICB.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHICBI.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/Century\ Gothic.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHICB.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHICBI.woff2);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/Century\ Gothic.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHICB.TTF);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHICBI.TTF);
    font-weight: 700;
    font-style: italic;
}


/* ==============================
              General
================================= */

html, body {
    scroll-behavior: smooth;
}

body {
    /* background-color: #E4FEFE; */
    background: radial-gradient(circle, rgba(91,117,116,1) 0%, rgba(76,102,102,1) 100%);
}

main {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Century Gothic';
    font-style: normal;
}

    a:hover {
        color: inherit;
        text-decoration: none;
    }

.font-weight-700 {
    font-weight: 700 !important;
}


/* ==============================
               Navbar
================================= */

.navbar {
    background-color: #333333 !important;
}

    .navbar .navbar-brand img {
        height: 24px;
    }

    .navbar .nav-link {
        color: #FFF;
        font-family: 'Proxima Nova Rg';
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        margin: 8px 0 0;
        padding: 0;
    }



/* ==============================
            Header Hero
================================= */

#header-hero {
    position: relative;
    margin-top: 56px;
    background: linear-gradient(0deg, #F7F6EA 50%, #E4FEFE 50%);
}

.header-hero-wrapper {
    background-color: #E4FEFE;
    height: max-content;
}

@media (min-width:768px) {

    .header-hero-wrapper {
        border-radius: 0px 0px 200px 0px;
    }
}

.hero-center {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 75px;
    padding-bottom: 0;
}

.hero-title-wrapper {
    width: 100%;
    max-width: 370px;
    margin: auto;
}

    .hero-title-wrapper h1 {
        font-weight: 700;
        /* font-size: 36px; */
        font-size: clamp(1.875rem, 1.7679rem + 0.5357vw, 2.25rem);
        line-height: 1.3;
        color: #35B6B4;
    }

    .hero-title-wrapper span {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1E1E1E;
        margin: 30px 0;
    }

span.orange-span {
    font-weight: 700;
    /* font-size: 36px; */
    font-size: clamp(1.875rem, 1.7679rem + 0.5357vw, 2.25rem);
    line-height: 1.3;
    color: #F38800;
    margin: 0;
}

.hero-title-wrapper p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #595A5E;
}

.letsgo-wrapper span {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #35B6B4;
}

img.hero-img {
    object-fit: contain;
    /* max-width: 420px;
    height: 370.59px; */
    max-width: clamp(21.25rem, 19.8214rem + 7.1429vw, 26.25rem);
    height: clamp(18.75rem, 17.4894rem + 6.3029vw, 23.162rem);
}

.angle-down-icon {
    animation: myAnim 1s ease-in-out 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}


/* ==============================
        us
================================= */

#sinus-problem-section {
    background: #F7F6EA;
    padding: 100px 0;
}

.sinus-slider-wrapper {
    margin-bottom: 50px;
}

.sinus-info-wrapper {
    width: 100%;
    max-width: 630px;
    margin: auto;
    background: #35B6B4;
    border-radius: 20px;
    padding: 50px 45px;
}

    .sinus-info-wrapper p {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 0;
    }

/* slider */
#sinus-problem-section .swiper {
    width: 100%;
    height: 100%;
    max-width: 630px;
}

#sinus-problem-section .swiper-slide {
    text-align: center;
    background: transparent;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    #sinus-problem-section .swiper-slide img {
        height: 300px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    #sinus-problem-section .swiper-slide p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #7A7A7A;
        margin-bottom: 0;
    }

    #sinus-problem-section .swiper-slide h6 {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #35B6B4;
        margin: 45px 0 60px 0;
    }

#sinus-problem-section .swiper-button-next:after, #sinus-problem-section .swiper-button-prev:after {
    font-size: 24px;
    color: #7A7A7A;
}

#sinus-problem-section .swiper-pagination-bullet-active {
    background: #35B6B4 !important;
}

#sinus-problem-section .swiper-pagination-bullet {
    background: #7A7A7A;
    opacity: 1;
}

#sinus-problem-section .swiper-button-next, #sinus-problem-section .swiper-button-prev {
    top: 85%;
}



/* ==============================
        Solution Section
================================= */

#did-you-know-section {
    background: linear-gradient(0deg, #FFFFFF 50%, #F7F6EA 50%);
}

.didyouknow-wrapper {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.didyouknow-info-wrapper {
    width: 100%;
    height: 100px;
    background: #F38800;
    /* padding-left: 559px; */
    padding-left: clamp(6.875rem, -1.143rem + 40.09vw, 34.938rem);
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.didyouknow-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 543px; */
    max-width: clamp(6.563rem, -1.2584rem + 39.1071vw, 33.938rem);
    height: 120px;
    background: #35B6B4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 77.5px 77.5px 0px;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.didyouknow-mobile {
    display: none;
    animation: zoomin 1s ease 0s 1 normal forwards;
}

img.didyouknow-text {
    /* max-width: 88px; */
    max-width: clamp(4.25rem, 3.4167rem + 2.3148vw, 5.5rem);
    object-fit: contain;
    /* margin-right: 21px; */
    margin-right: clamp(0.688rem, 0.2713rem + 1.1574vw, 1.313rem);
}

img.didyouknow-text-mobile {
    max-width: 52.04px;
    object-fit: contain;
}

img.lightbulb-img {
    /* max-width: 87px; */
    max-width: clamp(4.188rem, 3.3547rem + 2.3148vw, 5.438rem);
    object-fit: contain;
}

.didyouknow-info-wrapper p {
    width: 100%;
    max-width: 396px;
    font-weight: 700;
    /* font-size: 16px; */
    font-size: clamp(0.938rem, 0.9203rem + 0.0886vw, 1rem);
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 0;
}



/* ==============================
        Meet Ah Beng Section
================================= */

#meet-ahbeng-section {
    background: #ffffff;
    padding: 100px 0;
}

.meet-ahbeng-wrapper h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #35B6B4;
}

.meet-ahbeng-wrapper img {
    height: 300px;
    object-fit: contain;
    margin: 50px 0;
}

.meet-ahbeng-wrapper p {
    width: 100%;
    max-width: 630px;
    margin: auto;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #595A5E;
}

.meet-ahbeng-wrapper h2 {
    width: 100%;
    max-width: 444px;
    margin: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F38800;
    margin-top: 54px;
}

/* ====================================
        Ah Beng's Bedroom Section
======================================= */

.ahbeng-room img {
    cursor: pointer;
}

.ahbeng-room div {
    position: absolute;
    width: 100%;
    z-index: 1;
}

    .ahbeng-room div.ahbeng-thingking {
        max-width: 24%;
        bottom: 0;
        left: 48%;
        transform: translate(-50%, 0);
    }

    .ahbeng-room div.room-mites {
        max-width: 7%;
        bottom: 39%;
        left: 31%;
    }

    .ahbeng-room div.room-allergen-1 {
        max-width: 9%;
        top: 30.5%;
        left: 52.5%;
    }

    .ahbeng-room div.room-allergen-2 {
        max-width: 7%;
        bottom: 28%;
        right: 26.5%;
    }


.ahbeng-room-title {
    width: 100%;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

    .ahbeng-room-title h3 {
        width: 100%;
        max-width: 650px;
        margin: auto;
        font-weight: 700;
        /* font-size: 36px; */
        font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
        line-height: 1.2;
        text-align: center;
        color: #3A556A;
        /* margin-top: 100px; */
        margin-top: clamp(3.125rem, -0.4464rem + 7.4405vw, 6.25rem);
    }

.allergen-popup-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 21px;
}

.allergen-question-wrapper {
    position: relative;
    width: 100%;
    max-width: 630px;
    margin: auto;
    padding: 50px 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 2;
    animation: zoomIn 1s ease 0s 1 normal forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

img.room-popup-close {
    position: absolute;
    right: 22px;
    top: 22px;
    max-width: 16px;
    object-fit: contain;
    cursor: pointer;
}

.allergen-question-wrapper h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #35B6B4;
    margin-bottom: 30px;
}

.allergen-question-wrapper .btn {
    width: 100%;
    max-width: 360px;
    margin: auto;
    margin-bottom: 12px;
    background: #FFFFFF;
    border: 1px solid #35B6B4;
    border-radius: 18px;
    padding: 8px 15px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #595A5E;
    transition: 0.2s ease-in-out;
}

.bed-mite, .ac-allergen, .cat-allergen, .allergen-correct-popup, .allergen-wrong-popup {
    display: none;
}

.allergen-correct-icon img {
    max-width: 81.64px;
    object-fit: contain;
    margin-bottom: 10px;
}

.allergent-correct-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7A7A7A;
}

.allergent-correct-text span {
    font-weight: 700;
}

.allergent-wrong-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7A7A7A;
}

.allergent-wrong-text span {
    font-weight: 700;
}

/* ==============================
        Solution Section
================================= */

#solution-section {
    background: #E4FEFE;
}

.solution-section-wrapper {
    background: #35B6B4;
    border-radius: 0px 0px 200px 0px;
    padding: 100px 24px;
    transition: 0.3s ease-in-out;
}

.solution-wrapper h1 {
    width: 100%;
    max-width: 650px;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 700;
    /* font-size: 36px; */
    font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2.25rem);
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
}

.solution-question-wrapper {
    width: 100%;
    max-width: 630px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 45px;
}

    .solution-question-wrapper h6 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #35B6B4;
        margin-bottom: 30px;
    }

    .solution-question-wrapper button {
        width: 100%;
        max-width: 360px;
        margin: auto;
        margin-bottom: 12px;
        background: #FFFFFF;
        border: 1px solid #35B6B4;
        border-radius: 18px;
        padding: 8px 15px;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #595A5E;
        transition: 0.2s ease-in-out;
    }

.btn:hover {
    font-weight: 700;
    color: #FFFFFF;
    background: #35B6B4;
}

.btn:focus {
    box-shadow: none;
}

.solution-correct-ans, .solution-wrong-ans {
    display: none;
    position: relative;
    width: 100%;
    max-width: 630px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 40px 45px 50px 45px;
    animation: appear 1s ease 0s 1 normal forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img.solution-close-btn {
    position: absolute;
    right: 22px;
    top: 22px;
    max-width: 16px;
    object-fit: contain;
    cursor: pointer;
}

.ans-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7A7A7A;
}

.ans-wrapper span {
    font-weight: 700;
}

.ans-wrapper a {
    color: inherit;
}

    .ans-wrapper a:hover {
        color: #F38800;
    }

.solution-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img.versa-correct-img {
    max-width: 38px;
    object-fit: contain;
    margin: 0 10px;
}

img.correct-img {
    max-width: 58.31px;
    object-fit: contain;
    margin: 0 10px;
    animation: zoom 1s ease 0s 1 normal forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.wrong-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7A7A7A;
    margin-bottom: 30px;
}

img.wrong-img {
    max-width: 81.45px;
    object-fit: contain;
    animation: zoom 1s ease 0s 1 normal forwards;
    margin-bottom: 20px;
}

.wrong-correct-bg {
    background: #E4FEFE;
    border: 3px solid rgba(53, 182, 180, 0.2);
    border-radius: 10px;
    padding: 30px 15px;
}


/* ==============================
        Golden Rule Section
================================= */

#golden-rule-section {
    background: #E4FEFE;
    padding: 100px 10px;
}

.golden-rule-wrapper h5 {
    width: 100%;
    max-width: 630px;
    margin: auto;
    font-weight: 700;
    /* font-size: 24px; */
    font-size: clamp(1.375rem, 1.3393rem + 0.1786vw, 1.5rem);
    line-height: 1.2;
    text-align: center;
    color: #F38800;
}

.golden-rule-wrapper img {
    max-width: 518.31px;
    object-fit: contain;
    margin: 50px 0;
}

.golden-rule-wrapper p {
    width: 100%;
    max-width: 630px;
    margin: auto;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7A7A7A;
}

.golden-rule-wrapper span {
    font-weight: 700;
}

.slider-wrapper {
    margin-top: 60px;
}

/* slider */
#golden-rule-section .swiper {
    width: 100%;
    max-width: 630px;
    height: 100%;
}

#golden-rule-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#golden-rule-section .swiper-button-next:after, #golden-rule-section .swiper-button-prev:after {
    color: #1E1E1E;
    font-size: 24px;
}

#golden-rule-section .swiper-button-next, #golden-rule-section .swiper-button-prev {
    top: 35%;
}

#golden-rule-section .swiper-slide h6 {
    width: 100%;
    max-width: 440px;
    font-weight: 700;
    /* font-size: 18px; */
    font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
    line-height: 1.2;
    text-align: center;
    color: #35B6B4;
    margin-top: 30px;
    margin-bottom: 0;
}

img.golden-rule-1 {
    /* max-width: 210.2px; */
    max-width: clamp(10.674rem, 9.97rem + 3.52vw, 13.138rem);
    object-fit: contain;
}

img.golden-rule-2 {
    /* max-width: 225.64px; */
    max-width: clamp(9.167rem, 7.7567rem + 7.0514vw, 14.103rem);
    object-fit: contain;
}

img.golden-rule-3 {
    /* max-width: 324.29px; */
    max-width: clamp(12.658rem, 10.4837rem + 10.8714vw, 20.268rem);
    object-fit: contain;
}

img.golden-rule-4 {
    /* max-width: 260px; */
    max-width: clamp(11.793rem, 10.5196rem + 6.3671vw, 16.25rem);
    object-fit: contain;
}


/* ==============================
        Five Reasons Section
================================= */

#five-reasons-section {
    background: linear-gradient(0deg, #ffffff 50%, #E4FEFE 50%);
}

.five-reasons-section-wrapper {
    background-color: #35B6B4;
    padding: 100px 30px;
}

.five-reasons-wrapper h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.five-reasons-wrapper p {
    width: 100%;
    max-width: 630px;
    margin: 1.5rem auto;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}

.reasons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

    .reasons-wrapper p {
        margin: 12px auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: center;
    }

    .reasons-wrapper > div {
        width: 100%;
        max-width: 130px;
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    .reasons-wrapper img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }


/* ==============================
        Range Medklinn Section
================================= */

#range-medklinn-section {
    background-image: url(../img/range-bg-desktop.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.range-home-travel {
    background-image: url(../img/home-travel-series.png) !important;
}

.range-auto-series {
    background-image: url(../img/auto-series.png) !important;
}

.range-home-series {
    background-image: url(../img/home-series.png) !important;
}

.range-wrapper h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.range-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1rem;
}

/* Tab section */
.tabContainer {
    width: 100%;
    height: max-content;
    margin-top: 30px;
}

    .tabContainer .buttonContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 12px;
    }

        .tabContainer .buttonContainer button {
            width: 100%;
            max-width: 400px;
            height: 100%;
            float: left;
            outline: none;
            cursor: pointer;
            padding: 10px;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #595A5E;
            background-color: #FFFFFF;
            border: 1px solid #35B6B4;
            border-radius: 18px;
            transition: 0.3s ease-in-out;
        }

            .tabContainer .buttonContainer button:hover {
                font-weight: 700;
                background-color: #35B6B4;
                color: #fff;
            }

    .tabContainer .tabPanel {
        width: 100%;
        max-width: 630px;
        margin: auto;
        color: white;
        text-align: center;
        margin-top: 50px;
        box-sizing: border-box;
        font-size: 22px;
        display: none;
        background-color: #35B6B4;
        border-radius: 20px;
        padding: 40px 45px;
    }

.range-title-wrapper h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.range-title-wrapper h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

.range-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.range-info a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

    .range-info a:hover {
        color: #F38800;
    }

.first-range-wrapper img {
    max-width: 400px;
    object-fit: contain;
    margin: 14px 0;
}

.second-range-wrapper img {
    max-width: 400px;
    object-fit: contain;
    margin: 14px 0;
}

.third-range-wrapper img {
    max-width: 400px;
    object-fit: contain;
    margin: 14px 0;
}


/* ==============================
        Break Free Section
================================= */

#break-free-section {
    position: relative;
    background-color: #F7F6EA;
    padding: 100px 30px;
}

.break-free-title-wrapper h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #35B6B4;
    margin-bottom: 58px;
}

.break-free-content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
    gap: clamp(1rem, 0.2143rem + 3.9286vw, 3.75rem);
    row-gap: 2rem;
    justify-content: center;
}

.break-free-content {
    width: 100%;
    max-width: 120px;
    text-align: center;
    cursor: pointer;
}

img.money-back-icon {
    max-width: 49.66px;
    height: 50px;
    object-fit: contain;
}

img.paylater-icon {
    max-width: 38.9px;
    height: 50px;
    object-fit: contain;
}

img.zero-interest-icon {
    max-width: 79.15px;
    height: 50px;
    object-fit: contain;
}

img.free-shipping-icon {
    max-width: 67.25px;
    height: 50px;
    object-fit: contain;
}

img.rating-icon {
    max-width: 52.05px;
    height: 50px;
    object-fit: contain;
}

.break-free-content span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: block;
    margin-top: 12px;
    color: #000000;
    text-decoration: underline;
}

/* break free popup modal */
.modal-dialog {
    max-width: 630px;
}

.modal-content {
    background: #35B6B4;
    border-radius: 20px;
    padding: 60px 29px 30px 29px;
}

.modal-header {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    border: 0;
}

    .modal-header .close {
        font-size: 45px;
        opacity: 1;
        color: #ffffff;
    }

.modal-body h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 1.5rem;
}

.modal-body p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
}

a.money-back-link, a.zero-interest-link {
    color: #FFFFFF;
    text-decoration: underline;
}

.modal-open .modal {
    padding: 0 1rem;
}

.modal-backdrop {
    background: transparent;
}

/* ==============================
              Footer
================================= */

footer {
    background-color: #F7F6EA;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.footer-wrapper {
    width: 100%;
    background-color: #35B6B4;
    border-radius: 100px 100px 0px 0px;
    padding: 0 1.625rem;
}

footer .social-share-button[data-style=ghost] {
    color: #ffffff;
    border-color: #ffffff;
    margin-right: auto
}

    footer .social-share-button[data-style=ghost]:hover {
        background-color: #A6E3FF;
        color: #ffffff;
        border: 1px solid #A6E3FF;
    }

.share-container {
    margin: 50px 0;
}

.share-medklinn-wrapper {
    text-align: center;
    padding-top: 55.3px;
}

    .share-medklinn-wrapper p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: #FFFFFF;
        margin-bottom: 0;
    }

        .share-medklinn-wrapper p:first-child {
            font-weight: 700;
        }

    .share-medklinn-wrapper a {
        width: 100%;
        max-width: 300px;
        background: #F38800;
        border: 2px solid #F38800;
        border-radius: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 10px;
        text-align: center;
        margin: 51px auto;
        display: block;
        animation: pulse 2.5s ease 0s infinite normal forwards;
    }

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.share-medklinn-wrapper a:hover {
    transform: scale(1.03);
}


/* ==============================
         Social Shares
================================= */

.share-story {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 9px;
    display: block;
}

.social-share-button {
    font-family: 'Century Gothic';
    font-style: normal;
    padding: 0.35rem 1rem;
    background: #C17229;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: 2px solid #C17229;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s ease-in-out;
}

    .social-share-button:active, .social-share-button:focus, .social-share-button:hover {
        font-family: 'Century Gothic';
        font-style: normal;
        background-color: transparent;
        border: 2px solid #C17229;
        color: #C17229;
    }

    .social-share-button[data-style=ghost] {
        background-color: transparent;
        border: 1px solid #FFF;
        margin: 0 0 0 auto;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
    }

        .social-share-button[data-style=ghost]:active, .social-share-button[data-style=ghost]:focus, .social-share-button[data-style=ghost]:hover {
            background-color: #E4FEFE;
            color: #000;
            border: 1px solid #E4FEFE;
        }

            .social-share-button[data-style=ghost]:active svg path, .social-share-button[data-style=ghost]:focus svg path, .social-share-button[data-style=ghost]:hover svg path {
                fill: #000;
            }

web-social-share .social-share-icon {
    display: block;
    width: 1.75rem;
}

web-social-share.hydrated .fa-whatsapp {
    background: #40c351;
    font-size: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    text-shadow: 0 1px #999;
}

    web-social-share.hydrated .fa-whatsapp:before {
        position: relative;
        top: -3px;
        left: -2px;
        color: #FFF;
    }

web-social-share.hydrated .fa-twitter {
    background: #03a9f4;
    font-size: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
}

    web-social-share.hydrated .fa-twitter:before {
        color: #FFF;
        font-size: 14px;
        position: relative;
        top: -8px;
    }

web-social-share.hydrated .fa-link {
    background: #0056B3;
    font-size: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
}

    web-social-share.hydrated .fa-link:before {
        font-size: 12px;
        position: relative;
        top: -10px;
        color: #FFF;
    }

web-social-share.hydrated .fa-telegram {
    color: #29b6f6;
    font-size: 23px;
}

web-social-share.hydrated .fa-facebook {
    color: #039be5;
    font-size: 23px;
}




/* ==============================
         Responsiveness
================================= */

@media (max-width:575px) {

    #meet-ahbeng-section {
        padding: 50px 6px;
    }

    .meet-ahbeng-wrapper img {
        margin: 50px 0 20px 0;
    }

    .meet-ahbeng-wrapper h2 {
        margin-top: 50px;
    }

    .didyouknow-desktop {
        display: none;
    }

    .didyouknow-mobile {
        display: block;
        width: 100%;
        text-align: center;
    }

    .didyouknow-title-wrapper {
        padding: 1rem 1.5rem 1rem 0.5rem;
    }

    #sinus-problem-section {
        padding: 50px 0 60px 0;
    }

    .sinus-info-wrapper {
        padding: 30px 1rem;
    }

    #sinus-problem-section .swiper-slide h6 {
        width: 100%;
        max-width: 203px;
    }

    #sinus-problem-section .swiper-button-next, #sinus-problem-section .swiper-button-prev {
        top: 82.5%;
    }

    .sinus-slider-wrapper {
        margin-bottom: 40px;
    }

    #golden-rule-section {
        padding: 50px 10px;
    }

    .golden-rule-wrapper img {
        margin: 30px 0;
    }

    #golden-rule-section .swiper-button-next, #golden-rule-section .swiper-button-prev {
        top: 35%;
    }

    #golden-rule-section .swiper-slide h6 {
        padding: 0 10px;
    }

    .solution-correct-ans {
        padding: 40px 32px;
    }

    .solution-wrong-ans {
        padding: 40px 16px;
    }

    .solution-section-wrapper {
        border-radius: 0px 0px 80px 0px;
        padding: 50px 0.5rem;
    }

    .solution-wrapper h1 {
        margin-bottom: 38px;
    }

    #range-medklinn-section {
        background-image: url(../img/range-bg-mobile.png);
        padding: 50px 0;
    }

    .range-home-travel {
        background-image: url(../img/home-travel-mobile.png) !important;
    }

    .range-auto-series {
        background-image: url(../img/auto-series-mobile.png) !important;
    }

    .range-home-series {
        background-image: url(../img/home-series-mobile.png) !important;
    }

    .tabContainer .buttonContainer button {
        max-width: 280px;
    }

    .range-wrapper h3 {
        width: 100%;
        max-width: 265px;
        margin: auto;
    }

    .tabContainer .tabPanel {
        padding: 40px 1.5rem;
    }

    .range-info {
        padding: 0 1rem;
    }

    .hero-title-wrapper {
        text-align: center;
    }

    .five-reasons-section-wrapper {
        padding: 50px 30px;
    }

    .reasons-wrapper {
        margin-top: 25px;
    }

    .break-free-title-wrapper h3 {
        margin-bottom: 50.7px;
    }

    .modal__content {
        padding: 60px 30px 53px 30px;
    }

    #break-free-section {
        padding: 50px 30px;
    }

    .share-medklinn-wrapper a {
        margin: 31px auto;
    }

    .share-container {
        margin: 30px 0 50px 0;
    }
}

@media (max-width:767px) {

    .ahbeng-room-title h3 {
        margin-top: clamp(2.188rem, -0.7199rem + 14.5396vw, 6.25rem);
    }

    .ahbeng-room div.ahbeng-thingking {
        max-width: 35%;
    }

    .ahbeng-room div.room-mites {
        max-width: 11%;
        bottom: 34%;
        left: 21%;
    }

    .ahbeng-room div.room-allergen-1 {
        max-width: 14.5%;
        top: 38.5%;
        left: 52.5%;
    }

    .ahbeng-room div.room-allergen-2 {
        max-width: 12%;
        bottom: 24%;
        right: 17.5%;
    }

    .hero-wrapper {
        flex-flow: column-reverse;
        flex-wrap: wrap;
        padding: 50px 30px 0 30px;
    }

    img.hero-img {
        margin-bottom: 2rem;
    }
}

@media (max-width:991px) {

    .reasons-wrapper {
        flex-flow: column;
        gap: 30px;
        align-items: center;
    }

        .reasons-wrapper p {
            margin: 0;
            margin-left: 1rem;
            text-align: left;
        }

        .reasons-wrapper > div {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-flow: row;
            align-items: center;
        }

        .reasons-wrapper img {
            width: 40px;
            height: 40px;
        }
}
